/* General Settings */
body {
    background-color: #312e2b; /* Dard theme */
    display: flex; /* body -> flex container */
    justify-content: center; /* center elements horizontally */
    align-items: center; /* center elements vertically */
    min-height: 97vh; /* minimum height is 100% of browser window */
}

#chessboard {
    display: grid;
    
    /*  8columns / 70px */
    grid-template-columns: repeat(8, 70px);

    /*  8rows / 70px */
    grid-template-rows: repeat(8, 70px);
    /* chessboard corner border */
    border-radius: 3px;
    overflow: hidden;
    /* shadow of the chessboard border */
    box-shadow: 0 0 20px rgba(144, 238, 146, 0.5);
    user-select: none;
}
/* * Style each checkerboard (added by JS)
 */
.square {
    width: 100%;
    height: 100%;
    
    /* Center the piece (if any) */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* * Coloring the squares
 * (by JavaScript)
 */
.light-square {
    background-color: #EBECD0; /* White */
}

.dark-square {
    background-color: #739552; /* Dark */
}

/* * Style the chess pieces
 */
.piece {
    font-size: 48px; /* Pieces size */
    cursor: grab;
    
    /* Border color */
    text-shadow: 
        -1px -1px 0 #333,
         1px -1px 0 #333,
        -1px  1px 0 #333,
         1px  1px 0 #333;
}

.white-piece {
    color: #e5f5f2;
}

.black-piece {
    color: #5C5957;
}

/* Thêm class này: Đổi con trỏ khi đang "nhấc" quân cờ */
.piece:active {
    cursor: grabbing;
}

/* Thêm class này: Style cho quân cờ đang được kéo */
.dragging {
    opacity: 0.5;
}

.selected {
    background-color: #F5F682 !important; /* Màu vàng highlight */
}

/* Lớp (class) để kích hoạt animation */
.shake {
    /* Gọi animation 'shake', chạy trong 0.4 giây,
      chỉ chạy 1 lần.
    */
    animation: shake 0.4s;
    animation-iteration-count: 1;
}

/* Định nghĩa các bước của animation 'shake'.
  Chúng ta sẽ di chuyển (transform) nó sang trái/phải 
  vài pixel một cách nhanh chóng.
*/
@keyframes shake {
    0%   { transform: translate(0, 0); }
    10%  { transform: translate(-1px, 0); }
    40%  { transform: translate(1px, 0); }
    70%  { transform: translate(-1px, 0); }
    100% { transform: translate(0, 0); }
}